body {
  background-color: var(--bcg-color);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
a,
p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --bcg-color: #ffffff;
  --logo-header: #000000;
  --logo-web: #2196f3;
  --logo-footer: #ffffff;
  --footer-hero: #2f303a;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --btn-bcg: #f5f4fa;
  --btn-white: #ffffff;
  --transition-dur-and-func: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  background-color: var(--bcg-color);
  border-bottom: 1px solid #ececec;
}

.header__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header__logo {
  color: var(--logo-header);
  margin-right: 93px;
}

.logo-web {
  color: var(--logo-web);
}

.header-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  transition: var(--transition-dur-and-func);
}
.menu-link:hover, .menu-link:focus {
  color: var(--accent-color);
}
.menu-link::after {
  content: "";
  width: 0px;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(34px);
  transition: var(--transition-dur-and-func);
}

.link-active {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.link-active::after,
.menu-link:hover::after {
  width: 100%;
}

.contact {
  display: flex;
  align-items: center;
}

.contact {
  display: flex;
}

.contact__list {
  display: flex;
  align-items: center;
}
.contact__list:not(:last-child) {
  margin-right: 50px;
}

.contact-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  transition: var(--transition-dur-and-func);
  display: flex;
  align-items: center;
}
.contact-link:hover, .contact-link:focus {
  color: var(--accent-color);
}

.contact-mail {
  fill: currentColor;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.contact-tel {
  fill: currentColor;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-size: cover;
  max-width: 1600px;
}

.hero-title {
  color: var(--logo-footer);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero-container {
  margin-top: 0;
  margin-bottom: 0;
}

.btn-hero {
  color: var(--bcg-color);
  background-color: var(--accent-color);
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  padding: 10px 32px;
  border-radius: 4px;
  transition: var(--transition-dur-and-func);
}
.btn-hero:hover, .btn-hero:focus {
  color: var(--title-text-color);
  background-color: var(--btn-bcg);
  border-color: transparent;
}

.about-container {
  display: flex;
  justify-content: space-between;
}

.about-left-side,
.about-right-side {
  flex-basis: calc((100% - 30px) / 2);
}

.about-right-side {
  padding-left: 34px;
}

.about-gallery {
  display: flex;
  justify-content: space-between;
}

.about-section-description {
  margin-bottom: 20px;
}

.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 40px;
}

.ben-list-item {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.ben-list-block {
  max-width: 270px;
  /* width:  calc((100% - 90px) / 4); */
}

.benefit-title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.ben-list-img {
  display: flex;
  justify-content: center;
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.ben-list-icon {
  width: 70px;
  height: 70px;
}

.ocupation {
  padding-top: 0px;
}

.ocupation__block-group {
  position: relative;
}

.ocupation__block-list {
  width: calc((100% - 60px) / 3);
  /* max-width: 370px; */
}

.ocupation__block {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.ocupation__block-deckription {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 27px 0px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team-section {
  background-color: var(--btn-bcg);
}

.team-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.team-block {
  max-width: 270px;
  /* width: calc((100% - 90px) / 4); */
  background-color: var(--bcg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.teammate-text-wraper {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.teammate-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}

.teammate-occupation {
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  column-gap: 10px;
}

.team-social-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.team-social-links {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-dur-and-func);
}
.team-social-links:hover .team-social-list-icon, .team-social-links:focus .team-social-list-icon {
  fill: var(--bcg-color);
}
.team-social-links:hover, .team-social-links:focus {
  background-color: var(--accent-color);
}

.clients {
  display: flex;
  justify-content: space-between;
}

.client-links {
  display: block;
  padding: 16px 32px;
}

.clients-list {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border var(--transition-dur-and-func);
}
.clients-list:hover .clients-icon, .clients-list:focus .clients-icon {
  fill: var(--accent-color);
}
.clients-list:hover, .clients-list:focus {
  border: 1px solid var(--accent-color);
}

.clients-icon {
  fill: #afb1b8;
  width: 106px;
  height: 60px;
  transition: fill var(--transition-dur-and-func);
}

.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
}
.portfolio-button.filter-button:hover, .portfolio-button.filter-button:focus {
  color: var(--btn-white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button {
  color: var(--title-text-color);
  background-color: var(--btn-bcg);
  border-color: transparent;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  transition: background-color var(--transition-dur-and-func);
}

.btn-list:not(:last-child) {
  margin-right: 8px;
}

.portfolio-title {
  color: var(--title-text-color);
  letter-spacing: 0.06em;
  font-size: 18px;
  line-height: 2;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-icons {
  width: 370px;
}
.portfolio-icons:hover .news-feed-overlay {
  transform: translateY(0);
}

.portfolio-text-wraper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-feed-group {
  position: relative;
  overflow: hidden;
}

.news-feed-overlay {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56em;
  letter-spacing: 0.03em;
  color: var(--bcg-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-top: 63px;
  background-color: var(--accent-color);
  transform: translateY(100%);
  transition: var(--transition-dur-and-func);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
}

.btn-active {
  color: var(--bcg-color);
  background-color: var(--accent-color);
  border-color: transparent;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-icons:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: var(--transition-dur-and-func) box-shadow;
}

.footer-logo {
  color: var(--logo-footer);
  margin-bottom: 20px;
}

.adress-list {
  margin-bottom: 8px;
  display: block;
}
.adress-list:nth-child(3) {
  margin-bottom: 0;
}
.adress-list .adress {
  color: var(--logo-footer);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.adress-list .link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-contacts);
}
.adress-list .link:focus, .adress-list .link:hover {
  color: var(--accent-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer {
  background-color: var(--footer-hero);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-section {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-left {
  display: flex;
}

.footer-social {
  padding: 0%;
  margin-left: 70px;
}

.footer-title {
  text-transform: uppercase;
  color: var(--bcg-color);
  margin-bottom: 20px;
}

.social-list {
  display: flex;
}

.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--bcg-color);
}

.footer-social-links {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-dur-and-func);
}
.footer-social-links:hover, .footer-social-links:focus {
  background-color: var(--accent-color);
}

.footer-subscribe {
  display: block;
}

.suscribe-btn {
  display: flex;
  padding: 10px 29px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
}
.suscribe-btn:hover, .suscribe-btn:focus {
  background-color: #188ce8;
}

.btn-descr {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  margin-right: 10px;
  color: var(--bcg-color);
}

.footer-subscribe-wrapper {
  display: flex;
}

.footer-subscribe-input {
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 12px;
  padding: 15px 16px;
  background-color: transparent;
  transition: bacground-color var(--transition-dur-and-func);
}

.footer-subscribe-input:focus {
  outline: transparent;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999;
  transition: opacity 250ms linear, visibility 250ms linear;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form-submit-btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: solid var(--accent-color);
  color: var(--bcg-color);
  background-color: var(--accent-color);
  padding: 10px 55px;
  box-sizing: border-box;
  display: block;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  transition: background-color var(--transition-dur-and-func);
}
.modal-form-submit-btn:hover, .modal-form-submit-btn:focus {
  background-color: #188ce8;
}

.modal-title {
  margin-bottom: 12px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal-input {
  display: block;
  width: 100%;
  padding: 12px 40px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal-input:focus {
  border-color: var(--accent-color);
  outline: transparent;
  background-color: transparent;
}
.modal-inputfocus + .modal-form-icon {
  fill: var(--accent-color);
}

.contact-form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-form-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal-form-input-wraper {
  position: relative;
  margin-bottom: 10px;
}

.contact-form-desc {
  margin-bottom: 4px;
}

.modal-forn-checkbox {
  display: block;
}

.modal-form-checkbox-desc {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}
.modal-form-checkbox-desc::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  /* border: 2px solid var(--title-text-color);
      border-radius: ; */
  box-sizing: border-box;
  cursor: pointer;
  background-image: url(../images/border-checkbox.svg);
  background-repeat: no-repeat;
  margin-right: 8px;
}
.modal-form-checkbox-desc:checked + .modal-form-checkbox-desc::before {
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  border: transparent;
}

.user-policy-link {
  color: rgb(33, 150, 243);
}

.modal-message {
  width: 448px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  background-color: transparent;
  margin-bottom: 20px;
}
.modal-message:focus {
  border-color: var(--accent-color);
  outline: transparent;
  background-color: transparent;
}

.modal-section {
  width: 528px;
  background-color: var(--bcg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  display: block;
}

.logo-web {
  color: var(--logo-web);
}/*# sourceMappingURL=main.css.map */