.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-size: cover;
  max-width: 1600px;
}
.hero-title {
  color: var(--logo-footer);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.hero-container {
  margin-top: 0;
  margin-bottom: 0;
}
.btn-hero {
  color: var(--bcg-color);
  background-color: var(--accent-color);
  border-color: transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  padding: 10px 32px;
  border-radius: 4px;
  transition: var(--transition-dur-and-func);
  &:hover,
  &:focus {
    color: var(--title-text-color);
    background-color: var(--btn-bcg);

    border-color: transparent;
  }
}
