.ocupation {
  padding-top: 0px;
}

.ocupation__block-group {
  position: relative;
}
.ocupation__block-list {
  width: calc((100% - 60px) / 3);
  /* max-width: 370px; */
}
.ocupation__block {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.ocupation__block-deckription {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 27px 0px;
  width: 100%;

  background-color: rgba(47, 48, 58, 0.8);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
