body {
  background-color: var(--bcg-color);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

.link {
  text-decoration: none;
}
img {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
a,
p {
  margin-top: 0;
  margin-bottom: 0;
}
button {
  cursor: pointer;
}
.list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
