:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --bcg-color: #ffffff;
    --logo-header: #000000;
    --logo-web: #2196f3;
    --logo-footer: #ffffff;
    --footer-hero: #2f303a;
    --footer-contacts: rgba(255, 255, 255, 0.6);
    --btn-bcg: #f5f4fa;
    --btn-white: #ffffff;
    --transition-dur-and-func: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }